.filters {
    @extend %list;
    @include centeredFlex;
    margin-bottom: 50px;
}
.filters__item {
    margin-left: 8px;
}
.filters__botton {
    text-align: center;
    display: inline-block;

    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    
    color: $title-text-color;
    background-color: $background-section-color;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    @include transition(color);
    @include transition(background-color);

    &:hover,
    &:focus {
        color: $primary-white-color;
        background-color: $accent-color;
    }
}